<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <style>
      body {
        margin: 10px;
      }
    </style>
    <title>Accueil</title>
  </head>

  <body>
    <h1>Bienvenue sur Mini-Console Admin</h1>
      <p align="right"><a href="logout">{{dVue.pseudo}}</a></p>
    <br><br><br><br>
    <center>
      <a href="admin/ajouterScientifiques">Ajouter Scientifiques</a>
      <br>
      <a href="admin/listeScientifiques">Lister les scientifiques</a>
    </center>


    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
