<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <style>
      body {
        margin: 10px;
      }
    </style>
    <title>Accueil</title>
  </head>

  <body>
    <h1>Bienvenue sur Mini-Jeux</h1>
    <!--TODO A DEPLACER DANS SA PROPRE VUE-->
    {% if dVue.nomJeu is defined %}
      <p>Jeu selectionné : {{dVue.nomJeu}}</p>
    {% endif %}
    {% if dVue.libelleDifficulte is defined %}
     <p>Difficulte selectionné : {{dVue.libelleDifficulte}}</p>
    {% endif %}
    <!--FIN TODO-->

    {% if dVue.pseudo is defined %}
      <p align="right"><a href="logout">{{dVue.pseudo}}</a></p>
    {% else %}
      <p align="right"><a href="login">Se connecter</a></p>
    {% endif %}

    <br><br><br><br>
    <center>
      <a href="join">Rejoindre une partie</a>
      <a href="create">Créer une partie</a>
    </center>


    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
