<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title>Accueil</title>
  </head>

  <body>
    <h1>Bienvenue sur Mini-Jeux</h1>
    {% if dVue is defined %}
      <p>{{dVue.info}}</p>
    {% endif %}
    <br><br><br><br>
    <center>
      <a href="?action=join">Rejoindre une partie</a>
      <a href="?action=create">Créer une partie</a>
    </center>


    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
