<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <style>
    body {
      margin: 10px;
    }
  </style>
  <title>Historique des scientifiques découverts :</title>
</head>

<body>
<h1>Voici l'historique des scientifiques découverts :</h1>
<p align="right"><a href="logout">{{dVue.pseudo}}</a></p>

<br><br><br><br>

<center>
  {% for scientifique in dVue.listeScientifiques %}
  <div>
    <h2>{{ scientifique.getNom() }} {{ scientifique.getPrenom() }}</h2>
    <p>Sexe : {{ scientifique.getSexe() }}</p>
    <p>Né(e) le {{ scientifique.getDateNess() }}</p>
    <p>Thematique : {{ scientifique.getThematique() }}</p>
    <p>Difficulté à trouver : {{ scientifique.getDifficulte() }}</p>
  </div>
  <br>
  <br>
  {% endfor %}
  <div>
    <a href="{{ dVue.pagePrec }}"><</a>
    <a href="1">1</a>
    <p>{{ dVue.page }}</p>
    <a href="{{ dVue.pageMax }}">1</a>
    <a href="{{ dVue.pageSuiv }}">></a>
  </div>
</center>

<script src="js/bootstrap.min.js"></script>
</body>
</html>
