<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Rejoindre une partie</title>
        <link rel="stylesheet" href="css/bootstrap.min.css">
    </head>
    <body>
        <h1>Rejoindre une partie</h1>

        <center>
            <p>Merci de vous munir de votre code de partie et de l'entrer dans le champ ci-dessous</p>
            <form action="#" method="post">
                <label for="codeInvitation">Code de la partie</label>
                <input type="text" name="codeInvitation" id="codeInvitation">
                <input type="submit" value="Valider">
            </form>
        </center>

        <script src="js/bootstrap.min.js"></script>
    </body>
</html>