<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Pendu - Score</title>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <style>
            p,
            label {
                font:
                        1rem 'Fira Sans',
                        sans-serif;
            }

            input {
                margin: 0.4rem;
            }
        </style>
    </head>
    <body>

        <br><br><br>

        <center>
            {% if dVue.messageScore is defined %}
               <h1>{{dVue.messageScore}}</h1>
            {% endif %}

            {% if dVue.nbTours is defined and dVue.nbFails is defined %}
                <p>Vous avez fais {{dVue.nbTours}} essais et {{dVue.nbFails}} erreur(s)</p>
            {% endif %}

            {% if dVue.scientifique is defined %}
                <h2>Le scientifique a trouvé été {{dVue.scientifique.prenom}} {{dVue.scientifique.nom}}</h2>
                <div>
                    <h3>Voici quelques informations à son sujet</h3>
                    <p>Né(e) le : {{dVue.scientifique.dateNaiss}}</p>
                    <p>Sexe : {{dVue.scientifique.sexe}}</p>
                    <p>Domaine : {{dVue.scientifique.thematique}}</p>
                    <p>{{dVue.scientifique.descriptif}}</p>
                </div>
            {% endif %}
            
            <a href=".">Retour à l'accueil</a>
        </center>

        <script src="js/bootstrap.min.js"></script>
    </body>
</html>