// kahoot styles

@import "styles.scss";

.Kahoot-Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: var(--bs-primary);
    color: $light;
}

.Kahoot-content {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.Kahoot-List {
    display: flex;
    flex-direction: column;
}

.Kahoot-Create {
    display: flex;
    align-items: center;
    background-color: var(--bs-primary);
    color: $light;
}

// kahoot styles
.Kahoot-content {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.Kahoot-List {
    display: flex;
    flex-direction: column;
}

.Kahoot-Create {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1em;

    label {
        font-weight: bold;
        margin-bottom: 0.5em;
    }
}

.Kahoot-List-Item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    margin: 0.5em 0;
    background-color: var(--bs-secondary-bg);
    border-radius: 4px;
    box-shadow: 0 2px 4px var(--bs-border-color)
}